@import "stylesheet.css";

#barchart{
    height: 44vh;
}

#linechart{
    height: 44vh;
}

.backward{
    width:100%;
    height: 6vh;
    background: white;
}

.backwardImg{
    width: 10%;
    height: 5vh;
}