@import "stylesheet.css";

.me-main{
    height: 88vh;
    background-color: white;
    text-align: center;
}

.me-row1, .me-row2{
    display: flex;
    text-align: center;
}

.row1-left, .row1-right{
    width:50%;
    height: 44vh;
}

.resultsImg{
    margin-top: 50px;
    width: 95%;
    height: 90%;
}

.description{
    line-height: 40px;
    font-size: 40px;
    text-align: center;
}

.podcast, .meditation{
   padding-bottom: 4vh;
    padding-top: 2vh;
}


.backward{
    width:100%;
    height: 6vh;
    background: white;
}

.backwardImg{
    width: 10%;
    height: 5vh;
}